{% extends 'ecomm_manage_app/manager_base.html' %}

{% block title %}Add New Product{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3>Add New Category</h3>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Submit</button>
                <a class ="btn btn-primary" href="{% url 'ecomm_manage_app:category_list' %}">Back</a>
            </form>

        </div>

    </div>
</div>
{% endblock %}
