{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CityMart - Shop Smart! {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
<a class="navbar-brand" href="{% url 'ecomm_manage_app:manager_home' %}">CityMart Manager Portal</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="main_nav">
  <ul class="navbar-nav">
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:open_order_list' %}">Open Orders </a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:product_list' %}">Products</a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:category_list' %}">Categories</a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:supplier_list' %}">Suppliers</a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:return_policy_list' %}">Return Policy</a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_manage_app:warranty_list' %}">Warranty Types</a> </li>
    <li class="nav-item active"> <a class="nav-link" href="{% url 'ecomm_app:home' %}">Visit Site </a> </li>

  </ul>
</div>
</div>
</nav>

{% if messages %}
{% for msg in messages %}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{msg.message}}
</div>
{% endfor %}
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>



