<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'ecomm_manage_app/manager_base.html' %}
{% block title %}All Products{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Product list</h3><hr>
            <a class ="btn btn-primary" href="{% url 'ecomm_manage_app:supplier_create' %}">Add New Supplier</a>
            <table class="table table-striped">
                <thead>
                <tr>
                        <th>Supplier Name</th>
                        <th>Address</th>
                        <th>Home Phone</th>
                        <th>Office Phone</th>

                </tr>
                </thead>
                <tbody>
                    {% for c in all_suppliers %}

                    <tr>
                        <td>{{c.name}}</td>
                        <td>{{c.address}}</td>
                        <td>{{c.home_phone}}</td>
                        <td>{{c.office_phone}}</td>

                    <td><a class ="btn btn-primary" href="{% url 'ecomm_manage_app:supplier_update' c.slug %}">update</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
</title>
</head>
<body>

</body>
</html>