{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{product.image.url}}" alt="" class="img-fluid">
            <div class="row">
                {% for pi in product.product.image_set.all %}
                <div class="col-md-4 p-3">
                    <a href="{{pi.image.url}}" target="_blank">
                        <img src="{{pi.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                  <tbody>
                    <tr>
                      <th>Item</th>
                      <td>{{product.name}}</td>
                    </tr>
                    <tr>
                      <th>Quantity</th>
                      <td>{{product.sell_quantity}}</td>
                    </tr>
                  <tr>
                      <th>MRP</th>
                      <td>Rs.{{product.display_original_selling_price}}</td>
                    </tr>
                  <tr>
                      <th>Selling Price</th>
                      <td>Rs.{{product.display_new_selling_price}}</td>
                    </tr>
                   <tr>
                      <th>Product Details</th>
                      <td>{{product.category.name}}, {{product.sub_category.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <hr>
            <a href="{% url 'ecomm_app:add_to_cart' product.id %}" class="btn btn-info">Add To Cart</a>
            
        </div>
    </div>
</div>

{% endblock %}









